<ion-content class="bg"> 

    <ion-card class="bgW">
  
      <ion-card-title text-center>Comparación entre:</ion-card-title><br/>    
  
        <ion-row align-self-center text-center>
          <ion-col class="result-one">
            <ion-textarea rows="2" clear-input="true" [(ngModel)]="city" placeholder="Buscar ciudad..."></ion-textarea > 
          </ion-col>
          <ion-col>   
            <ion-icon name="md-git-compare"></ion-icon> 
          </ion-col>
          <ion-col class="result-two">   
            <ion-textarea rows="2" clear-input="true" [(ngModel)]="city2" placeholder="Ciudad a comparar..." ></ion-textarea >
          </ion-col>
        </ion-row>
  
        <ion-item>
            <ion-label stacked color="primary">Tipo de datos</ion-label>
            <ion-select interface="alert" [(ngModel)]="typesData.values" (ionChange)="setType($event)">
               <ion-select-option *ngIf="typesData.values==0" value="0" [selected]="true"></ion-select-option>
               <ion-select-option *ngFor="let types of type" [value]="types.name">{{types.name}}</ion-select-option>
            </ion-select>
         </ion-item>
  
        <ion-button class="btn-compare" (click)="compare()">Comparar</ion-button>
        <br>Moneda:<ion-text color="primary">{{currency.code | json}}</ion-text>
    
    </ion-card>         
  
  
    <!-- CARDS DETAILS - RESULTS OF CITIES -->
  <div *ngFor="let cities of (results | async)">
      <div *ngFor="let cities2 of (results2 | async)">
  
        <!--COSTO DE VIDA-->  
        <div *ngIf="typesData.values == 'Costo de vida'">
         <ion-card class="cardStyle" padding *ngFor="let c of cities.cost; let i = index; let icon of icono" (click)="toggleDetails(icon)">    
            <ion-icon style="float: right;" *ngIf="!isValid" name="arrow-down" [name]="icon.arrow"></ion-icon>              
            <strong>{{c.category}} <!--{{i}}.{{x.category}} - {{i}}.{{x.city}} --- {{cities2.cost[i].category}} - {{cities2.cost[i].city}}--></strong> 
            <ion-list  class="card-results" *ngIf="icon.showDetails" no-lines> 
                <div *ngFor="let cost of c.items, let k = index">   
                {{cost.name}}
                  <ion-row>
                    <ion-col>
                      <ion-label class="result-one">                         
                        {{cost.city}}
                        {{cost.price}}
                      </ion-label>
                    </ion-col>
                    <ion-col>            
                      <ion-label class="result-dif">  
                          {{cost.city}} Es 
                        <ion-text [color]="(cost.price < cities2.cost[i].items[k].price  ? 'success' : 'danger')">   
                        &nbsp;&nbsp;{{(cost.price - cities2.cost[i].items[k].price) / cost.price | percent}}</ion-text>    
                        más <ion-text *ngIf="cost.price < cities2.cost[i].items[k].price">BARATO</ion-text>
                            <ion-text *ngIf="cost.price > cities2.cost[i].items[k].price">CARO</ion-text>
                        que {{cities2.cost[i].items[k].city}} 
                      </ion-label>   
                    </ion-col>
                    <ion-col>   
                      <ion-label class="result-two">   
                        {{cities2.cost[i].items[k].city}} 
                        {{cities2.cost[i].items[k].price}} 
                      </ion-label>      
                    </ion-col>  
                    </ion-row>
                  </div>     
                </ion-list> 
            </ion-card> 
        </div><!--Fin type=Costo de vida>-->
  
        <!--CRIMINALIDAD-->
        <div *ngIf="typesData.values == 'Criminalidad'">
            <ion-card class="cardStyle" padding *ngFor="let crime of cities.crime, let cix = index; let icon of icono" (click)="toggleDetails(icon)">      
            <ion-icon style="float: right;" *ngIf="!isValid" name="arrow-down" [name]="icon.arrow"></ion-icon>                   
            <strong>Seguridad</strong> 
              <ion-list  class="card-results" *ngIf="icon.showDetails" no-lines> 
                <div *ngFor="let c of crimeDetails">  
                <div><br/>{{c.detail}}</div>
                  <ion-row>
                    <ion-col size="4" text-wrap>
                      <div><br/>
                        <ion-text [color]="(59 > crime[c.code] && !c.detail.includes('Seguridad') || crime[c.code] > 59  && c.detail.includes('Seguridad') ? 'success' : 'danger')">  
                          {{crime[c.code]}}
                          {{crime.city_name}}
                          <label *ngIf="(20 >= crime[c.code] && crime[c.code] > 0)"> Muy Bajo</label>
                          <label *ngIf="(49 >= crime[c.code] && crime[c.code] > 19)"> Bajo</label>
                          <label *ngIf="(59 >= crime[c.code] && crime[c.code] > 49)"> Moderado</label>
                          <label *ngIf="(79 >= crime[c.code] && crime[c.code] > 59)"> Alto</label>
                          <label *ngIf="(100 > crime[c.code] && crime[c.code] > 79)"> Muy Alto</label>
                        </ion-text></div>   
                    </ion-col>
                    <ion-col size="4" text-wrap>
                      <ion-label class="result-dif">  
                        {{crime.city_name}} Es 
                        <ion-text [color]="(crime[c.code] < cities2.crime[cix][c.code] ? 'success' : 'danger')">   
                        &nbsp;&nbsp;{{crime[c.code] - cities2.crime[cix][c.code] / crime[c.code] | percent}}</ion-text>    
                        más <ion-text *ngIf="(crime[c.code] < cities2.crime[cix][c.code])">SEGURO</ion-text>
                            <ion-text *ngIf="(crime[c.code] > cities2.crime[cix][c.code])">INSEGURO</ion-text>
                        que {{cities2.crime[cix].city_name}}
                      </ion-label>   
                    </ion-col>
                    <ion-col size="4" text-wrap>   
                      <div><br/>
                        <ion-text [color]="(59 > cities2.crime[cix][c.code]  && !c.detail.includes('Seguridad') || cities2.crime[cix][c.code]  > 59  && c.detail.includes('Seguridad') ? 'success' : 'danger')">  
                          {{cities2.crime[cix][c.code]}}  
                          {{cities2.crime[cix].city_name}}
                          <label *ngIf="(20 >= cities2.crime[cix][c.code] && cities2.crime[cix][c.code] > 0)"> Muy Bajo</label>
                          <label *ngIf="(49 >= cities2.crime[cix][c.code] && cities2.crime[cix][c.code] > 19)"> Bajo</label>
                          <label *ngIf="(59 >= cities2.crime[cix][c.code] && cities2.crime[cix][c.code] > 49)"> Moderado</label>
                          <label *ngIf="(79 >= cities2.crime[cix][c.code] && cities2.crime[cix][c.code] > 59)"> Alto</label>
                          <label *ngIf="(100 > cities2.crime[cix][c.code] && cities2.crime[cix][c.code] > 79)"> Muy Alto</label>
                        </ion-text></div>   
                    </ion-col>  
                  </ion-row>
                </div>
                <div><br/>Si el valor es 0, significa que se percibe como muy bajo. Si el valor es 100, se percibe como muy alto.</div>
              </ion-list>    
            </ion-card>   
        </div><!--Fin type=Criminalidad>-->
  
        <!--SANINDAD-->
        <div *ngIf="typesData.values == 'Sanidad'">
           <ion-card class="cardStyle" padding *ngFor="let health of cities.health, let hi =index; let icon of icono" (click)="toggleDetails(icon)">      
           <ion-icon style="float: right;" *ngIf="!isValid" name="arrow-down" [name]="icon.arrow"></ion-icon>                   
           <strong>Servicios médicos</strong> 
              <ion-list  class="card-results" *ngIf="icon.showDetails" no-lines> 
                <div *ngFor="let h of healthDetails">  
                  {{h.detail}}
                  <ion-row>
                    <ion-col size="4" text-wrap>
                      <div><br/><br/>
                        <ion-text [color]="(health[h.code] > 49 ? 'success' : 'danger')">  
                          {{health.city_name}}
                          {{health[h.code]}}
                          <label *ngIf="(20  >= health[h.code] && health[h.code] > 0)">  Muy Bajo</label>
                          <label *ngIf="(49  >= health[h.code] && health[h.code] > 19)"> Bajo</label>
                          <label *ngIf="(59  >= health[h.code] && health[h.code] > 49)"> Moderado</label>
                          <label *ngIf="(79  >  health[h.code] && health[h.code] > 59)"> Alto</label>
                          <label *ngIf="(100 >  health[h.code] && health[h.code] > 79)"> Muy Alto</label>
                        </ion-text>  
                      </div>
                    </ion-col>
                    <ion-col size="4" text-wrap>
                      <ion-label class="result-dif">  
                        {{health.city_name}} Tiene 
                        <ion-text [color]="(health[h.code] > cities2.health[hi][h.code] ? 'success' : 'danger')">   
                        &nbsp;&nbsp;{{health[h.code]- cities2.health[hi][h.code] / health[h.code] | percent}}</ion-text>    
                          <ion-text *ngIf="(health[h.code] > cities2.health[hi][h.code])">MAYOR</ion-text>
                          <ion-text *ngIf="(health[h.code] < cities2.health[hi][h.code])">MENOR</ion-text>
                        calidad medica que {{cities2.health[hi].city_name}}
                      </ion-label>  
                    </ion-col>
                   <ion-col size="4" text-wrap>   
                      <div><br/><br/>
                        <ion-text [color]="(cities2.health[hi][h.code] > 49 ? 'success' : 'danger')">  
                           {{cities2.health[hi].city_name}}
                           {{cities2.health[hi][h.code]}}
                          <label *ngIf="(20  >= cities2.health[hi][h.code] && cities2.health[hi][h.code] > 0 )"> Muy Bajo</label>
                          <label *ngIf="(49  >= cities2.health[hi][h.code] && cities2.health[hi][h.code] > 19)"> Bajo</label>
                          <label *ngIf="(59  >= cities2.health[hi][h.code] && cities2.health[hi][h.code] > 49)"> Moderado</label>
                          <label *ngIf="(79  >  cities2.health[hi][h.code] && cities2.health[hi][h.code] > 59)"> Alto</label>
                          <label *ngIf="(100 >  cities2.health[hi][h.code] && cities2.health[hi][h.code] > 79)"> Muy Alto</label>
                        </ion-text>  
                      </div>
                    </ion-col> 
                  </ion-row>
                </div>
                <div><br/>Si el valor es 0, significa que se percibe como muy bajo. Si el valor es 100, se percibe como muy alto.</div>
              </ion-list>    
           </ion-card>   
        </div><!--Fin type=Sanidad>-->
  
        <!--CONTAMINACIÓN-->
        <div *ngIf="typesData.values == 'Contaminación'">
          <!--Contaminación-->
          <ion-card class="cardStyle" padding *ngFor="let d of pollutionDetails; let icon of icono" (click)="toggleDetails(icon)">      
          <ion-icon style="float: right;" *ngIf="!isValid" name="arrow-down" [name]="icon.arrow"></ion-icon>                   
          <strong>{{d.name}}</strong> 
            <ion-list  class="card-results" *ngIf="icon.showDetails" no-lines> 
              <div *ngFor="let pollution of cities.pollution, let pi = index">
                <div *ngFor="let p of d.data">  
                  <div><br/>{{p.detail}}</div>
                  <ion-row> 
                    <ion-col size="4" text-wrap>
                    <!--Contaminacion-->
                      {{pollution.city_name}}
                      <div *ngIf="d.name == 'Contaminación'"><br/><ion-text [color]="(100 - pollution[p.code] > 59 ? 'danger' : 'success')">  
                        {{100 - pollution[p.code] }}
                        <label *ngIf="(29  >= (100 - pollution[p.code]) && (100 - pollution[p.code]) > 0)">  Muy Bajo</label>
                        <label *ngIf="(49  >= (100 - pollution[p.code]) && (100 - pollution[p.code]) > 29)"> Bajo</label>
                        <label *ngIf="(59  >= (100 - pollution[p.code]) && (100 - pollution[p.code]) > 49)"> Moderado</label>
                        <label *ngIf="(79  >  (100 - pollution[p.code]) && (100 - pollution[p.code]) > 59)"> Alto</label>
                        <label *ngIf="(100 >  (100 - pollution[p.code]) && (100 - pollution[p.code]) > 79)"> Muy Alto</label>
                      </ion-text></div>  
                    <!--Limpieza-->
                      <div *ngIf="d.name == 'Limpieza'"><br/><ion-text [color]="(pollution[p.code] > 49 ? 'success' : 'danger')">  
                        {{pollution[p.code]}}
                         <label *ngIf="(29  >= pollution[p.code] && pollution[p.code] > 0)">  Muy Bajo</label>
                         <label *ngIf="(49  >= pollution[p.code] && pollution[p.code] > 29)"> Bajo</label>
                         <label *ngIf="(59  >= pollution[p.code] && pollution[p.code] > 49)"> Moderado</label>
                         <label *ngIf="(79  >  pollution[p.code] && pollution[p.code] > 59)"> Alto</label>
                         <label *ngIf="(100 >  pollution[p.code] && pollution[p.code] > 79)"> Muy Alto</label>
                      </ion-text></div>   
                    </ion-col>
  
                    <ion-col size="4" text-wrap>
                      <ion-label class="result-dif">  
                          {{pollution.city_name}} Tiene 
                          <ion-text *ngIf="d.name == 'Contaminación'" [color]="(pollution[p.code] > cities2.pollution[pi][p.code] ? 'success' : 'danger')">   
                                &nbsp;&nbsp;{{pollution[p.code] - cities2.pollution[pi][p.code] / pollution[p.code] | percent}}</ion-text>    
                            <ion-text *ngIf="(pollution[p.code] > cities2.pollution[pi][p.code])">MENOR</ion-text>
                            <ion-text *ngIf="(pollution[p.code] < cities2.pollution[pi][p.code])">MAYOR</ion-text>
  
                            <ion-text *ngIf="d.name == 'Limpieza'" [color]="(pollution[p.code] > cities2.pollution[pi][p.code] ? 'success' : 'danger')">   
                                &nbsp;&nbsp;{{pollution[p.code] - cities2.pollution[pi][p.code] / pollution[p.code] | percent}}</ion-text>    
                            <ion-text *ngIf="(pollution[p.code] < cities2.pollution[pi][p.code])">MENOR</ion-text>
                            <ion-text *ngIf="(pollution[p.code] > cities2.pollution[pi][p.code])">MAYOR</ion-text>
                            
                          contaminación que  {{cities2.pollution[pi].city_name}}
                      </ion-label>  
                    </ion-col>
  
                    <ion-col size="4" text-wrap>
                        {{cities2.pollution[pi].city_name}}
                        <!--Contaminacion -->
                          <div *ngIf="d.name == 'Contaminación'"><br/><ion-text [color]=" (100 - cities2.pollution[pi][p.code] > 59 ? 'danger' : 'success')">  
                            {{100 - cities2.pollution[pi][p.code]}}
                            <label *ngIf="(29  >= (100 - cities2.pollution[pi][p.code]) && (100 - cities2.pollution[pi][p.code]) > 0 )">  Muy Bajo</label>
                            <label *ngIf="(49  >= (100 - cities2.pollution[pi][p.code]) && (100 - cities2.pollution[pi][p.code]) > 29)"> Bajo</label>
                            <label *ngIf="(59  >= (100 - cities2.pollution[pi][p.code]) && (100 - cities2.pollution[pi][p.code]) > 49)"> Moderado</label>
                            <label *ngIf="(79  >  (100 - cities2.pollution[pi][p.code]) && (100 - cities2.pollution[pi][p.code]) > 59)"> Alto</label>
                            <label *ngIf="(100 >  (100 - cities2.pollution[pi][p.code]) && (100 - cities2.pollution[pi][p.code]) > 79)"> Muy Alto</label>
                          </ion-text></div> 
                        <!--Limpieza--> 
                          <div *ngIf="d.name == 'Limpieza'"><br/><ion-text [color]="(cities2.pollution[pi][p.code] > 49 ? 'success' : 'danger')">  
                            {{cities2.pollution[pi][p.code]}}
                             <label *ngIf="(29  >= cities2.pollution[pi][p.code] && cities2.pollution[pi][p.code] > 0 )">  Muy Bajo</label>
                             <label *ngIf="(49  >= cities2.pollution[pi][p.code] && cities2.pollution[pi][p.code] > 29)"> Bajo</label>
                             <label *ngIf="(59  >= cities2.pollution[pi][p.code] && cities2.pollution[pi][p.code] > 49)"> Moderado</label>
                             <label *ngIf="(79  >  cities2.pollution[pi][p.code] && cities2.pollution[pi][p.code] > 59)"> Alto</label>
                             <label *ngIf="(100 >  cities2.pollution[pi][p.code] && cities2.pollution[pi][p.code] > 79)"> Muy Alto</label>
                          </ion-text></div>  
                      </ion-col>
                    </ion-row>
                </div><!--FIN P DETAILS-->
              </div><!--FIN POLLUTION OF CITIES-->
              <div><br/>Si el valor es 0, significa que se percibe como muy bajo. Si el valor es 100, se percibe como muy alto.</div>
            </ion-list>    
          </ion-card> 
        </div> <!--Fin type=Contaminación>-->
  
        <!--TRÁFICO-->
        <div *ngIf="typesData.values == 'Tráfico'">
            <div *ngFor="let traffic of cities.traffic, let ti = index; let icon of icono">
               <ion-card class="cardStyle" padding *ngIf="traffic.distance > 1" (click)="toggleDetails(icon)">      
               <ion-icon style="float: right;" *ngIf="!isValid" name="arrow-down" [name]="icon.arrow"></ion-icon>                   
               <strong>{{traffic.traffic_name}}</strong> 
                  <ion-list  class="card-results" *ngIf="icon.showDetails" no-lines> 
                     
                    <div fixed *ngFor="let td of trafficDetails">  
                        {{td.detail}}
                        <ion-row text-wrap> 
                          
                          <ion-col size="4" >
                            
                                {{traffic.city_name}}
                               <div *ngIf="traffic[td.code] > 1">
                                  {{ traffic[td.code]}}  
                                <label *ngIf="td.detail != 'Distancia'">Min</label>
                                <label *ngIf="td.detail == 'Distancia'">Km</label>   
                               </div>                                                              
                           
                           </ion-col>
  
                           <ion-col size="4" text-wrap>
                              <div *ngIf="traffic[td.code] > 1">
                                  {{ traffic[td.code]}}  
                                <label *ngIf="td.detail != 'Distancia'">Min</label>
                                <label *ngIf="td.detail == 'Distancia'">Km</label>   
                              </div> 
                           </ion-col>
  
                           <ion-col size="4" text-wrap>   
                                {{cities2.traffic[ti].city_name}}
                                <div *ngIf="cities2.traffic[ti][td.code] > 1">
                                    {{cities2.traffic[ti][td.code]}}
                                  <label *ngIf="td.detail != 'Distancia'">Min</label>
                                  <label *ngIf="td.detail == 'Distancia'">Km</label>   
                                </div>                               
                           </ion-col>  
  
                        </ion-row>
                      </div>
                  </ion-list>    
               </ion-card>            
            </div>
         </div><!--Fin type=Tráfico>-->
  
      </div><!---FIN DE CITIES 2 -->
    </div><!---FIN DE CITIES -->
      
  </ion-content>
  
      
  