<ion-tabs>
  
  <ion-header>        
    <ion-toolbar>               
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>         
      <ion-title style="float: right;">
        MigrApp   
        <ion-icon style="float: right;" name="paper-plane"></ion-icon>
      </ion-title>                  
    </ion-toolbar>          
</ion-header>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compare">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Comparar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="currency">
      <ion-icon name="send"></ion-icon>
      <ion-label>Moneda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
